<% provide(:title, "作るリスト") %>
<div class="main">
  <div class="form-wrap">
    <div class="field text-center">
      <div>
      <h3>　作るリスト (<%= @lists.count %>品)</h3>
    </div>
  </div>
  <% if @lists.present? %>
    <ol class="lists">
      <%= render @lists %>
    </ol>
  <% end %>
  <%= paginate @lists %>
</div>
