<% provide(:title, @title) %>
<div class="main">
  <div class="form-wrap">
    <h3 class="text-center"><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>
