<div class="row">
  <div class="col-md-12">
    <h3 class="title-cookrecord"><%= @records.count %>回のクッキングレコード</h3>
  </div>
</div>
<% if @records.any? %>
  <ul class="records">
    <%= render @records %>
  </ul>
<% end %>
