<header class="navbar navbar-fixed-top">
 <div class="container">
   <%= link_to(image_tag("header_logo.jpg", :alt => "", :width => '138', :height => '37'), id: 'logo') %>
   <nav>
     <ul class="nav navbar-nav navbar-right">
       <li><%= link_to '新規登録', new_user_registration_path %></li>
     </ul>
   </nav>
 </div>
</header>
