<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong class="stat"><%= @user.following.count %></strong>人をフォロー
  </a>　
  <a href="<%= followers_user_path(@user) %>">
    <strong class="stat"><%= @user.followers.count %></strong>人のフォロワー
  </a>
</div>
