<div class="main">
  <div class="form-wrap">
    <% if user_signed_in? %>
      <div class="text-center">
        <h3>みんなの料理 (<%= @feed_items.count %>品) </h3>
        <%= render 'partial/feed' %>
      </div>
    <% else %>
      <center>
        <h1>料理は早くて簡単に！</h1>
        <h3>今日のレシピ、あっという間に！</h3>
        <%= link_to 'クイックミールを始める', new_user_registration_path, class: "btn btn-primary btn-lg btn-demo" %>
      </center>
    <% end %>
  </div>
</div>
