<div class="main">
  <div class="card">
    <div class="form-wrap">
      <div class="field text-center">
        <h1>料理登録</h1>
      </div>
        <%= render 'dishes/dish_form' %>
      </div>
    </div>
  </div>
</div>
