.main {
  max-width: 960px;
  margin: 0 auto;
  width: 90%;
  padding: 75px 75px 100px;
  display: block;
  flex: 1;
  flex-basis: auto;
  box-sizing: border-box;
}

body {
  background-image: image-url('0062-1.jpg');
  width: 100%;
  height: 100%;
  background-position: center;
}

.devise-card {
  border: none;
}

.form-wrap{
  max-width: 430px;
  width: 100%;
  margin: 50px auto;
}

.field {
  padding: 10px 1px;
}

.form-control {
  border: 1px solid #dcdfe6;
  font-size: inherit;
  margin-bottom: 5px;
}

.devise-link {
  text-align: center;
  margin: 16px 0;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb ;
  width: 100%;
  margin-bottom: 15px;
}

#error_explanation  {
  color: red;
  ul {
    color: red;
    margin: 30px 0 30px 0;
  }
}
// ヘッダー
.navbar {
  background-color: #fff;
  border-bottom: 2px solid rgba(0, 0, 0, .0975);
  height: 70px;
  .nav li{
    margin-left: 15px;
  }
}

#logo  {
  img {
    max-width: 140px;
    height: auto;
    box-sizing: border-box;
  }
}
.dish-registration {
  margin-top: 5px;
  margin-left: 10px;
}

.dropdown {
  margin-top: 3px;
  padding-left: 10px;
}
.dropdown li {
  margin-bottom: 10px;
}

.new-registration {
  padding-left: 10px;
}

.nami {
  padding-top: 5px;
  padding-left: 12px;
}

.search {
  margin-top: 5px;
}

.search > li {
  margin: 0 10px;
}

.link {
  text-decoration: none!important;
  color: #808080
}

/*PCの場合*/
.pc	{
  display: block;
 }

.sp	{
  display: none;

}

@media screen and (max-width: 1199px) {
    .pc	{
      display: none;
    }

    .sp {
      display: block;
    }
  }

@media screen and (max-width: 768px) {
/*タブレット、スマホの場合*/
  .pc	{
    display: none;
  }

  .sp {
    display: block;
    max-width: 250px;
  }

  // .nami {
  //   text-align: center;
  // }
}

.alert {
  color: #155724;
  background-color: #d4edda;
}

footer {
  background-color: #fff;
}
