// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// プロフィールページ ////
.user-picture img {
  max-width: 100%;
  height: auto;
}

.user-picture-box {
  margin-left: 14em;
  margin-bottom: 4em;
}

.show-user-name {
  display: inline-block;
}

.account-edit {
  margin-top: 20px;
}
